@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    overflow-x: hidden !important;
}

@font-face {
    font-family: 'Viga';
    src: url('../assets/fonts/Viga-Regular.ttf') format('ttf');
}

::-webkit-scrollbar {
    width: 0px; /* Adjust the width of the scrollbar */
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Roundness of the scrollbar thumb */
  }
  
  /* Change the scrollbar thumb color when hovered over */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
    /* Darker color on hover */
  }